{{- if .Values.realtime.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "supabase.realtime.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
  {{- with .Values.realtime.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.realtime.autoscaling.enabled }}
  replicas: {{ .Values.realtime.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "supabase.realtime.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.realtime.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "supabase.realtime.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.realtime.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "supabase.realtime.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.realtime.podSecurityContext | nindent 8 }}
      initContainers:
        {{- include "supabase.waitForDB" . | nindent 8 }}
      containers:
        - name: {{ include "supabase.realtime.name" $ }}
          securityContext:
            {{- toYaml .Values.realtime.securityContext | nindent 12 }}
          image: "{{ .Values.realtime.image.repository }}:{{ .Values.realtime.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.realtime.image.pullPolicy }}
          command: ["/bin/sh"]
          args: ["-c", "/app/bin/migrate && /app/bin/realtime eval 'Realtime.Release.seeds(Realtime.Repo)' && /app/bin/server"]
          env:
            {{- range $key, $value := .Values.realtime.environment }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            - name: TENANT_NAME
              value: {{ include "supabase.realtime.fullname" . }}
            - name: DB_HOST
              value: {{ include "supabase.database.host" . | quote }}
            - name: DB_PORT
              value: {{ include "supabase.database.port" . | quote }}
            - name: DB_SSL_MODE
              value: {{ include "supabase.database.sslmode" . | quote }}
            - name: DB_USER
              value: {{ include "supabase.database.supabase_username" . | quote }}
            - name: DB_PASSWORD
              {{- include "supabase.database.password" . | nindent 14 }}
            - name: DB_NAME
              value: {{ include "supabase.database.db_name" . | quote }}
            - name: DB_AFTER_CONNECT_QUERY
              value: {{ printf "SET search_path TO %s" (include "supabase.database.realtime_db_name" .) }}
            - name: DB_ENC_KEY
              valueFrom:
                secretKeyRef:
                  {{- if .Values.secret.realtime.secretRef }}
                  name: {{ .Values.secret.realtime.secretRef }}
                  key: {{ .Values.secret.realtime.secretRefKey.dbEncKey | default "dbEncKey" }}
                  {{- else }}
                  name: {{ include "supabase.secret.realtime" . }}
                  key: dbEncKey
                  {{- end }}
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  {{- if .Values.secret.realtime.secretRef }}
                  name: {{ .Values.secret.realtime.secretRef }}
                  key: {{ .Values.secret.realtime.secretRefKey.secretKeyBase | default "secretKeyBase" }}
                  {{- else }}
                  name: {{ include "supabase.secret.realtime" . }}
                  key: secretKeyBase
                  {{- end }}
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  {{- if .Values.secret.jwt.secretRef }}
                  name: {{ .Values.secret.jwt.secretRef }}
                  key: {{ .Values.secret.jwt.secretRefKey.secret | default "secret" }}
                  {{- else }}
                  name: {{ include "supabase.secret.jwt" . }}
                  key: secret
                  {{- end }}
            - name: API_JWT_SECRET
              value: $(JWT_SECRET)
            - name: ANON_KEY
              valueFrom:
                secretKeyRef:
                  {{- if .Values.secret.jwt.secretRef }}
                  name: {{ .Values.secret.jwt.secretRef }}
                  key: {{ .Values.secret.jwt.secretRefKey.anonKey | default "anonKey" }}
                  {{- else }}
                  name: {{ include "supabase.secret.jwt" . }}
                  key: anonKey
                  {{- end }}
          {{- with .Values.realtime.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.realtime.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 4000
              protocol: TCP
          {{- with .Values.realtime.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
          {{- with .Values.realtime.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
            - name: realtime-seed-volume
              mountPath: /app/lib/realtime-{{ .Values.realtime.image.tag | trimPrefix "v" }}/priv/repo/seeds.exs
              subPath: seeds.exs
      volumes:
      {{- with .Values.realtime.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        - name: realtime-seed-volume
          configMap:
            name: {{ printf "%s-seeds" (include "supabase.realtime.fullname" .) }}
      {{- with .Values.realtime.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.realtime.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.realtime.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
