{{- if .Values.analytics.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "supabase.analytics.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
  {{- with .Values.analytics.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.analytics.autoscaling.enabled }}
  replicas: {{ .Values.analytics.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "supabase.analytics.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.analytics.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "supabase.analytics.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.analytics.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "supabase.analytics.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.analytics.podSecurityContext | nindent 8 }}
      initContainers:
        {{- include "supabase.waitForDB" . | nindent 8 }}
      containers:
        - name: {{ include "supabase.analytics.name" $ }}
          securityContext:
            {{- toYaml .Values.analytics.securityContext | nindent 12 }}
          image: "{{ .Values.analytics.image.repository }}:{{ .Values.analytics.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.analytics.image.pullPolicy }}
          env:
            {{- range $key, $value := .Values.analytics.environment }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            - name: DB_HOSTNAME
              value: {{ include "supabase.database.host" . | quote }}
            - name: DB_PORT
              value: {{ include "supabase.database.port" . | quote }}
            - name: DB_SSL_MODE
              value: {{ include "supabase.database.sslmode" . | quote }}
            - name: DB_USERNAME
              value: {{ include "supabase.database.supabase_username" . | quote }}
            - name: DB_PASSWORD
              {{- include "supabase.database.password" . | nindent 14 }}
            - name: DB_DATABASE
              value: {{ include "supabase.database.supabase_db_name" . | quote }}
            - name: DB_SCHEMA
              value: {{ include "supabase.database.analytics_db_name" . | quote }}
            - name: LOGFLARE_PUBLIC_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  {{- if .Values.secret.analytics.secretRef }}
                  name: {{ .Values.secret.analytics.secretRef }}
                  key: {{ .Values.secret.analytics.secretRefKey.publicApiKey }}
                  {{- else }}
                  name: {{ include "supabase.secret.analytics" . }}
                  key: publicApiKey
                  {{- end }}
            - name: LOGFLARE_PRIVATE_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  {{- if .Values.secret.analytics.secretRef }}
                  name: {{ .Values.secret.analytics.secretRef }}
                  key: {{ .Values.secret.analytics.secretRefKey.privateApiKey }}
                  {{- else }}
                  name: {{ include "supabase.secret.analytics" . }}
                  key: privateApiKey
                  {{- end }}
            {{- if .Values.analytics.bigQuery.enabled }}
            - name: GOOGLE_PROJECT_ID
              value: {{ .Values.analytics.bigQuery.projectId | quote }}
            - name: GOOGLE_PROJECT_NUMBER
              value: {{ .Values.analytics.bigQuery.projectNumber | quote }}
            {{- else }}
            - name: POSTGRES_BACKEND_URL
              value: postgresql://$(DB_USERNAME):$(DB_PASSWORD)@$(DB_HOSTNAME):$(DB_PORT)/$(DB_DATABASE)?sslmode=$(DB_SSL_MODE)
            - name: POSTGRES_BACKEND_SCHEMA
              value: $(DB_SCHEMA)
            - name: LOGFLARE_FEATURE_FLAG_OVERRIDE
              value: $(FEATURE_FLAG_OVERRIDE)
            {{- end }}
          {{- with .Values.analytics.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.analytics.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.analytics.service.port }}
              protocol: TCP
          {{- if or (.Values.analytics.bigQuery.enabled) (.Values.analytics.volumes) }}
          volumeMounts:
            {{- with .Values.analytics.volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.analytics.bigQuery.enabled }}
            - mountPath: /opt/app/rel/logflare/bin/gcloud.json
              name: gcloud-credentials
              subPath: gcloud.json
            {{- end }}
          {{- end }}
          {{- with .Values.analytics.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if or (.Values.analytics.bigQuery.enabled) (.Values.analytics.volumes) }}
      volumes:
        {{- with .Values.analytics.volumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.analytics.bigQuery.enabled }}
        - name: gcloud-credentials
          secret:
            secretName: {{ include "supabase.analytics.fullname" . }}-gcloud
        {{- end }}
      {{- end }}
      {{- with .Values.analytics.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.analytics.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.analytics.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
